<!DOCTYPE html>
<html lang="utf-8">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>삼아인쇄 홈페이지</title>
  <!-- Bootstrap core CSS-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">

  
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <% if(message){ %>
    <script>
    alert(message);
    </script>
  <% }else{ %>
  <% } %>
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top" id="mainNav" >
    <a class="navbar-brand" href="/" style="color: white">삼아인쇄</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/notice">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">공지사항</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-file"></i>
            <span class="nav-link-text">인쇄의뢰</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseMulti">
            <li>
              <a href="/print/main">내역서 의뢰</a>
            </li>
            <li>
              <a href="/print/etc">기타인쇄 의뢰</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-file"></i>
            <span class="nav-link-text">샘플</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseExamplePages">
            <li>
              <a href="/sample/parkAlert">주차경고장</a>
            </li>
            <li>
              <a href="/sample/parkSticker">주차스티커</a>
            </li>
            <li>
              <a href="/sample/nameCard">명함</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Link</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if(username == null){ %>
        <li class="nav-item">
          <form class="form-inline" method="POST" action="/doLogin">
            <input id="reqPage" name="reqPage" type="hidden" value=""/>                
            <div class="form-group">
              <label class="sr-only" for="id">아이디</label>
              <input type="id" class="form-control" id="id" name="id" placeholder="아이디">
            </div>&nbsp;
            <div class="form-group">
              <label class="sr-only" for="password">비밀번호</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호">
            </div>&nbsp;
            <button type="submit" class="btn btn-default">로그인</button>&nbsp;
            <button type="button" class="btn btn-default" id="btnJoin" >회원가입</button>
          </form>
        </li>
        <% } else { %>
        <li class="nav-item" style="color:aliceblue;">
          <a class="nav-link text-center" href="#">
            <i class="fa fa-fw fa-link"></i><%= username %> 님 환영합니다.
          </a>
        </li>
        <li class="nav-item" id="logoutForm">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
        <% } %>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <!-- Example DataTables Card-->
          <div class="card mb-3">
            <div class="card-header">
              <a href="/print/main"><i class="fa fa-table"></i>내역서 의뢰</a></div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover" id="dataTable3" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>제목</th>
                      <th>글쓴이</th>
                      <th>날짜</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>System Architect</td>
                      <td>Edinburgh</td>
                      <td>2011/04/25</td>
                    </tr>
                    <tr>
                      <td>Garrett Winters</td>
                      <td>Tokyo</td>
                      <td>2011/07/25</td>
                    </tr>
                    <tr>
                      <td>Junior Technical Author</td>
                      <td>San Francisco</td>
                      <td>2009/01/12</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <!-- Example DataTables Card-->
          <div class="card mb-3">
            <div class="card-header">
              <a href="/print/etc"><i class="fa fa-table"></i>기타인쇄 의뢰</a></div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover" id="dataTable4" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>제목</th>
                      <th>글쓴이</th>
                      <th>날짜</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>System Architect</td>
                      <td>Edinburgh</td>
                      <td>2011/04/25</td>
                    </tr>
                    <tr>
                      <td>Garrett Winters</td>
                      <td>Tokyo</td>
                      <td>2011/07/25</td>
                    </tr>
                    <tr>
                      <td>Junior Technical Author</td>
                      <td>San Francisco</td>
                      <td>2009/01/12</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <a href="/sample/parkAlert"><i class="fa fa-table"></i>주차 경고장</a>
        </div>
        <div class="card-body">
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <a href="/sample/parkSticker"><i class="fa fa-table"></i>주차 스티커</a>
        </div>
        <div class="card-body">
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <a href="/sample/nameCard"><i class="fa fa-table"></i>명함</a>
        </div>
        <div class="card-body">
        </div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">로그아웃</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">로그아웃하시겠습니까?</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="/doLogout">로그아웃</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="js/sb-admin-datatables.min.js"></script>
    <script src="js/sb-admin-charts.min.js"></script>
    <script>
      $("#btnJoin").click( () => {
        document.location = '/joinForm';
      });



    </script>
  </div>
</body>

</html>
